<h1>Your Cart</h1>
<hr>
<div class="pageFlex">
    <div>
        <div class="cartItemList" *ngFor="let cartItem of cartItems" matRipple [routerLink]="['/products', cartItem.id]">
            <img class="cartThumb" src="/assets/stockdummy.png">
            <div class="cartItemDetails">
                <span class="cartItemName">{{cartItem.name}}</span>
                <br>
                <span class="cartItemDesc">{{cartItem.shortDesc}}</span>
            </div>
            <div class="cartItemPrice">
                ${{cartItem.price}}
            </div>
        </div>
    </div>
    <mat-card>
        <h1>Checkout</h1>
        <span class="purchaseHeading">Purchase total:</span><span class="priceDisplay">${{totalPrice}}</span>
        <button mat-button>Proceed to Checkout</button>
    </mat-card>
</div>
