<mat-card>
    <h1>Your Email Address</h1>
    {{email}}
    <br>
    <hr>
    <button mat-button (click)="hideShowForm()">Update Email Address</button>
    <form [formGroup]="emailChangeForm" (ngSubmit) = "onSubmit(emailChangeForm.value)" *ngIf="showForm">
        <br>
        <label>New Email</label>
        <br>
        <input formControlName="newEmail">
        <br>
        <span *ngIf="!inputGood" id="warning">Please enter a valid Email Address.</span>
        <br>
        <br>
        <button mat-button type="submit">Submit</button>
    </form>
</mat-card>
