<mat-card>
    <h1>Your Shipping Address</h1>
    <span>{{fName}} {{lName}}</span>
    <br>
    <span>{{shipAddr}}</span>
    <hr>
    <br>
    <button mat-button (click)="hideShowForm()">Update Address</button>
    <form [formGroup] = "addrUpdateForm" (ngSubmit) = "onSubmit(addrUpdateForm.value)" *ngIf = "showForm">
        <br>
        <label>New Shipping Address</label>
        <br>
        <input formControlName="newAddr">
        <br>
        <br>
        <button mat-button type="submit">Submit</button>
    </form>
</mat-card>
