<h1>Contact Us</h1>
<hr>
<div class="flexContainer">
    <mat-card>
        <p>
            If you have a question, comment, or concern please get in contact with us! All queries are completely private and will
            not be published nor kept after resolution.
        </p>

        <form [formGroup]="contactForm" id = "contactForm" (ngSubmit)="onSubmit(contactForm.value)">
            <label for="name">Name</label>
            <br>
            <span class="warning" *ngIf="nameFailed">Please provide your name.</span>
            <br>
            <input id="name" type="text" formControlName="name">
            <br>
            <br>
            <label for="email">Email</label>
            <br>
            <span class="warning" *ngIf="mailFailed">Please provide your contact email.</span>
            <br>
            <input id="email" type="email" formControlName="email">
            <br>
            <br>
            <label for="query">Query</label>
            <br>
            <span class="warning" *ngIf="queryFailed">Please provide an inquiry.</span>
            <br>
            <textarea name="query" form="contactForm" formControlName="query"></textarea>
            <br>
            <span class="success" *ngIf="sendSuccess">Inquiry has been sent successfully.</span> 
            <br>
            <br>
            <button mat-button type="submit">Submit</button>
        </form>
    </mat-card>
</div>