<mat-card id="background">
    <div class="display" *ngIf="!reviewExists;else editReview">
        <div class="post">
            <form [formGroup] = "textComment" (ngSubmit) = "onSubmit(textComment.value)">
                <h2>Say something about this product</h2>
                <div class="avgstars">
                    <app-starscoreselector></app-starscoreselector>
                </div>
                <br>
                <textarea form="textComment" formControlName = "desc">{{existingComment}}</textarea>
                <br>
                <br>
                <button mat-button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <ng-template #editReview>
        <div class="display">
            <form [formGroup] = "textComment" (ngSubmit) = "onSubmit(textComment.value)">
                <h2>Your review</h2>
                <div class = "avgstars" [disabled] = "!editMode">
                    <app-starscoreselector></app-starscoreselector>
                </div>
                <br>
                <textarea form="textComment" formControlName = "desc" [disabled]="!editMode">{{existingComment}}</textarea>
                <br>
                <br>
                <button *ngIf="!editMode;else editButton" mat-button type="submit">Submit</button>
                <ng-template #editButton>
                    <button mat-button (click) = "toggleEditing()">Edit Review</button>
                </ng-template>
            </form>
        </div>
    </ng-template>
</mat-card>