<mat-card>
    <h1>Your Phone Number</h1>
    <br>
    {{phNum}}
    <br>
    <hr>
    <br>
    <button mat-button (click) = "hideShowForm()">Change Phone Number</button>
    <form [formGroup] = "phnForm" (ngSubmit) = "onSubmit(phnForm.value)" *ngIf = "showForm">
        <br>
        <label>New Phone Number</label>
        <br>
        <input formControlName="newNumber">
        <br>
        <span id="warning" *ngIf="!inputGood">Please enter a Phone Number.</span>
        <br>
        <br>
        <button mat-button type="submit">Submit</button>
    </form>
</mat-card>
