mat-card{
    background-color: #F4F6FA;
    width: 97%;
    min-width: fit-content;
    height: 100%;
    min-height: fit-content;
}

Input{
    width: 300px;
}

Form{
    display: flex; 
    flex-direction: column;
}

Label{
    margin-bottom: 5px;
}

button{
    margin-top: 10px;
    background-color: #262697;
    color: white;
    width: fit-content;
}