<mat-card>
    <h1>Security</h1>
    <br>
    <hr>
    <button mat-button (click)="hideShowPassForm()">Change Password</button>
    <br>
    <form [formGroup] = "passChangeForm" (ngSubmit) = "onSubmit(passChangeForm.value)" *ngIf="passFormVisible">
        <br>
        <label>Current Password</label> 
        <br>
        <input id ="oldPass" formControlName="oldPass">
        <br>
        <br>
        <label>New Password</label>
        <br>
        <input id ="pass1" formControlName="pass1">
        <br>
        <br>
        <label>Confirm New Password</label>
        <br> 
        <input id ="pass2" formControlName="pass2">
        <br>
        <br>
        <button mat-button type="submit">Submit</button>
    </form>
</mat-card>
