<div class = "outerPage">
    <mat-card>
        <h1>Update Password</h1>
        <hr>
        <form [formGroup] = "passChangeForm" (ngSubmit) = "onSubmit(passChangeForm.value)">
            <label>Current Password</label> 
            <br>
            <input id ="oldPass" formControlName="oldPass">
            <br>
            <br>
            <label>New Password</label>
            <br>
            <input id ="pass1" formControlName="pass1">
            <br>
            <br>
            <label>Confirm New Password</label>
            <br> 
            <input id ="pass2" formControlName="pass2">
            <br>
            <br>
            <button mat-button type="submit">Change Password</button>
        </form>
    </mat-card>
</div>