.outerPage{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-card{
    text-align: center;
}

button{
    background-color: #262697;
    color: white;
}

label{
    margin-bottom: 8px;
}