h1{
    color: #262697;
}

.prodDetailedImage{
    float: left;
    height: 50vh;
    width:25vw;
    margin: 10px;
}

.prodDetailsCard{
    min-height: 60vh;
    max-width: 58vw;
    background-color: #F4F6FA;
    margin-right: 20px;
}

.customerActionCard{
    width:16vw;
    height: 45vh;
    background-color: #F4F6FA;
      
}

.cartButton{
    background-color: #262697;
    color: white;
}