<h1>{{currentProduct.name}}</h1>
<div style="display: flex; flex-direction: row;">
    <mat-card class="prodDetailsCard">
        <mat-card-content>
        <img class="prodDetailedImage" src="/assets/stockdummy.png">
    {{currentProduct.longDesc}}
</mat-card-content>
    </mat-card>
    <mat-card class="customerActionCard">
        <h1>
        ${{currentProduct.price}}
        </h1>
        <hr>
        Stock Levels go here.
        <hr>
        <button mat-button class="cartButton" [routerLink] = "['/myCart']">
            Add to Cart
        </button>
    </mat-card>
</div>
    <h1>Specifications:</h1>
    <hr>
    <div *ngFor= "let spec of currentProduct.specs">
        {{spec}}
    </div>
