h1{
    color: #262697;
}

table{
    width: 58vw;
    border-spacing: 0px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 0px;
    min-width: 450px;
    height: 50px;
    font-size: large;
  }

.prodDetailedImage{
    float: left;
    height: 50vh;
    width:25vw;
    margin: 10px;
}

.prodDetailsCard{
    min-height: 60vh;
    max-width: 58vw;
    background-color: #F4F6FA;
    margin-right: 20px;
}

.customerActionCard{
    width:16vw;
    height: 45vh;
    background-color: #F4F6FA;
      
}

.cartButton{
    background-color: #262697;
    color: white;
}