.page { 
    margin:0px;
    margin-top: -20px;
    min-height: 90vh;
    background-color: #262697;
    min-width: fit-content;
}

.pageContainer{
    background-color: white;
    min-height: 90vh;
}

.routerOffset{
    margin: 24px
}



footer{
    background-color: #262697;
    color: whitesmoke;
    min-height: fit-content;
    text-align: center;
    font-size: 1vw;
}
a{
    color:whitesmoke;
}