<div class = "prodGrid">
    <ng-container class="gridTile" *ngFor="let storeItem of displayData">
      <div class ="gridTileContent" [routerLink]="['/products', storeItem.id]">
        <img [src]="'/assets/stockImages/' + storeItem.id + '.jpg'" class="gridImageDisplay">
          <div class="prodName">
            {{storeItem.name}}
          </div>
          <br>
          <div class="prodDesc">
            {{storeItem.shortDesc}}
          </div>
          <br>
          <div class="gridItemStats">
            <span class ="gridStarDisplay">
              <app-read-only-star-score [toDisplay] = "storeItem.avgScore"></app-read-only-star-score>
            </span>
            <span class="gridPriceDisplay">
              ${{storeItem.price}}
            </span>
          </div>
      </div>
    </ng-container>
</div>
