

.prodGrid{
    display: grid;
    width: 100%;
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    row-gap: 1vh;
    column-gap: 0.5vw;
}

@media screen and (min-width:800px){
    .prodGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.gridTileContent:hover{
    border: solid 0.15vw darkblue;
}

.gridTileContent{
    width: 100%;
    min-width: fit-content;
    min-height: 400px;
    font-size: 12px;
    font-style: italic;
    background-color: #F4F6FA;
    border: solid 0.15vw #E0E6E6;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
}

.gridImageDisplay{
    width: 95%; 
    height: 250px; 
    margin: 8px;
    justify-content: center;
    border: solid 0.15vw #E0E6E6;
}

.gridTile{
    width: 100%;
    min-width: 100%;
}

.gridItemPrice{
    width: 100%; 
    height: fit-content;
    text-align: right; 
    display:flex;
    align-self:flex-end;
    justify-content: right;
    margin-right: 5px;
}

.gridPriceDisplay{
    align-self:flex-end;
    text-align: right;
    font-size: 18px;
    font-weight: bolder;
    font-style: normal;
    color: darkblue;
    width: 100%;
    margin-bottom: 3px;
    margin-right: 3px;
}

.prodName{
    width: 90%;
    font-size: 18px;
    color: darkblue;
    justify-content: center;
    font-style: normal;
    text-align: center;
}

@media screen and (min-width:600px){
    .gridTileContent{
        font-size: 1vw;
    }
    .prodName{
        font-size:1.5vw;
    }
}