
.mat-toolbar{
    margin:0;
    margin-left: -20px;
    height: auto;
    width:auto;
}

.cartbtn {
    height: 64px;
    border-radius: 0%;
    background: transparent;
    font-size: large;   
    color: #F4F6FA; 
}

.fill-space {
    flex: 1 1 auto;
  }

.btnSep{
    border-left:1px solid silver;
    height:30px
}

.btnText{
    font-size: 1vw;
}

.searchField {
    margin-left:15px;
    margin-top:5px;
    width: 300px;
  }

h1{
    color: #F4F6FA;
}

  .title{
      margin: 0px;
      outline: none;
      cursor: pointer;
  }
  .mat-toolbar{
      background-color: #262697;
  }