.mat-toolbar{
    margin:0;
    margin-left: -20px;
    height: auto;
    width: stretch;
    background-color: #262697;
}

.topBarBox{
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.cartbtn {
    border-radius: 0%;
    color: #F4F6FA; 
    background-color: #262697;
    margin-left: 4px;
}



.btnSep{
    border-left:1px solid silver;
}

.btnText{
    width: 100%;
    font-size: 1em;
    display:flex;
    vertical-align: middle;
    justify-content: center;
}

.searchField {
    margin-left:15px;
    margin-top:5px;
    width: 300px;
    color: white;
  }

h1{
    color: #F4F6FA;
}

  .title{
      margin-left: 0px;
      margin-right: 6px;
      margin-top: 12px;
      padding-bottom: 6px;
      outline: none;
      cursor: pointer;
      min-width: 375px;
  }
  .mat-toolbar{
      background-color: #262697;
  }

  Input{
      color: white;
  }

  mat-icon{
      font-size: 24px;
  }