
.mat-toolbar{
    margin:0;
    margin-left: -20px;
    height: auto;
    width: stretch;
    background-color: #262697;
}

.cartbtn {
    height: 64px;
    width:8vw;
    border-radius: 0%;
    background: transparent;
    color: #F4F6FA; 
    background-color: #262697;
}



.btnSep{
    border-left:1px solid silver;
    height:30px
}

.btnText{
    font-size: 1vw;
    display:flex;
    vertical-align: middle;
    justify-content: center;
    padding: 5px;
}

.searchField {
    margin-left:15px;
    margin-top:5px;
    width: 300px;
    color: white;
  }

h1{
    color: #F4F6FA;
}

  .title{
      margin-left: 0px;
      margin-right: 6px;
      outline: none;
      cursor: pointer;
      height: 58px;
      min-width: 400px;
  }
  .mat-toolbar{
      background-color: #262697;
  }

  Input{
      color: white;
  }

  mat-icon{
      font-size: 1vw;
  }