<mat-toolbar>
  <div class = title [routerLink]="['']" matRipple>
    <img src ="/assets/logo.png" alt="logo">
  </div>

  <div class="btnSep"></div>
  <button mat-button class = cartbtn [routerLink]="['']" ><div class="btnText">Home</div></button>
  <div class="btnSep"></div>

  <mat-form-field class="searchField">
    <input matInput type="text" [(ngModel)]="value" (keyDown.enter)="enterHandling()">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    
  <button mat-button class = cartbtn id="searchBtn"(click)="updateSearchTerms()" [routerLink] = "['search']">
    <mat-icon>search</mat-icon>
  </button>

  <div class="btnSep"></div>
  <button mat-button class = cartbtn [routerLink]="['contactUs']"><div class="btnText">Contact Us</div></button>
  <div class="btnSep"></div>

  <button mat-button class = cartbtn [routerLink] = "['myCart']">
   <div class="btnText">
      <mat-icon inline = true>shopping_cart</mat-icon>
      <span>My Cart</span>
    </div>
  </button>

  <div class="btnSep"></div>
  <button mat-button class = cartbtn [routerLink] = "['signIn']"><div class="btnText">Sign In</div></button>
  <div class="btnSep"></div>
</mat-toolbar>
