/* You can add global styles to this file, and also import other style files */
html { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  height: 100%; width: 100%; background-color: white   ;}
.router {margin-right: 10%; margin-left: 10%; margin-top: 10px; min-height: 90vh;}
header {font-size:x-large;}
h1{
    color: #262697; 
}
mat-card{
    background-color: #F4F6FA;
}
