mat-card{
    text-align: center;
    background-color: #F4F6FA;
    width: 350px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

Label{
    color: #262697;
    font-size: x-large;
}

.mat-button{
    background-color: #262697;
    color:white;
    margin-top: 10px;
}

.outerPage{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

Input{
    font-size: larger;
    margin-top: 10px;
    border: #E0E6E6 solid 1px;
}

.warning{
    background-color: red;
    height: fit-content;
    width: 90%;
}

.warningHeader{
    color: yellow;
    font-size: xx-large;
}

P{
    color:white;
}

#warning{
    color:red;
}