mat-card{
    text-align: center;
    background-color: #F4F6FA;
    width: 350px;
    height:570px;
    margin-top: 30px;
}

Label{
    color: #262697;
}

.mat-button{
    background-color: #262697;
    color:white;
}

.outerPage{
    display:flex;
    justify-content: center;
}