<div class="outerPage">
    <mat-card class="warning">
        <div class="warningHeader">
            WARNING!
        </div>
        <p>
            Please note that the current implementation of this website lacks a domain and SSL certificate. As a result, 
            ALL DATA SENT TO THE SERVER IS COMPLETELY UNENCRYPTED. Please do NOT reuse any passwords on this proof of concept, and assume that
            everything you submit to the server has been compromised. Because I cannot guarantee that it hasn't.
        </p>
    </mat-card>
    <mat-card>
        <br>
        <h1>Sign In</h1>
        <br>
        <form [formGroup] = "loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <label for="user">Username</label>
            <br>
            <input id="user" formControlName="user">
            <br>
            <br>
            <label for="pWord">Password</label>
            <br>
            <input id="pWord" formControlName="pass">
            <br>
            <br>
            <button mat-button type="submit">Login</button>
        </form>
        <br>
        Don't have an account?
        <br>
        <button mat-button class="signUpButton" [routerLink]="['/signUp']">Create one now!</button>
    </mat-card>
</div>
