<div class = "prodGrid">
    <ng-container class="gridTile" *ngFor="let storeItem of displayData">
      <div class ="gridTileContent" matRipple [routerLink]="['/products', storeItem.id]">
        <img [src]="'/assets/stockImages/' + storeItem.id + '.jpg'" class="gridImageDisplay">
          <span class="prodName">
            {{storeItem.name}}
          </span>
          <br>
          <span class="prodDesc">
            {{storeItem.shortDesc}}
          </span>
          <br>
          <div class="gridItemPrice">
            ${{storeItem.price}}
          </div>
        </div>
      </ng-container>
</div>
