.prodGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}


.gridTileContent:hover{
    border: solid 0.15vw darkblue;
}

.gridTileContent{
    margin: 7px; 
    width: 100%;
    font-size: 1vw;
    font-style: italic;
    background-color: #F4F6FA;
    border: solid 0.15vw #E0E6E6;
    display:flex;
    flex-wrap:wrap;
}

.gridImageDisplay{
    width: 8vw; 
    height: 10vh; 
    margin-left: 5px;
}

.gridItemPrice{
    width: 100%; 
    height: 100%;
    text-align: right; 
    bottom: 0;
    margin-right: 5px;
}

.prodName{
    width: 80%;
    font-size: 1.33vw;
    color: rgb(84, 84, 230);
}