.prodGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1vh;
    column-gap: 1vw;
}


.gridTileContent:hover{
    border: solid 0.15vw darkblue;
}

.gridTileContent{
    margin: 7px; 
    width: 100%;
    height: 98%;
    font-size: 1vw;
    font-style: italic;
    background-color: #F4F6FA;
    border: solid 0.15vw #E0E6E6;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.gridImageDisplay{
    width: 150px; 
    height: 150px; 
    margin-left: 5px;
    justify-content: center;
}

.gridItemPrice{
    width: 100%; 
    height: 100%;
    text-align: right; 
    bottom: 0;
    margin-right: 5px;
}

.prodName{
    width: 80%;
    font-size: 1.33vw;
    color: darkblue;
    justify-content: center;
}