.details{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: fit-content;
    row-gap: 20px;
    column-gap: 30px;
}

button{
    background-color: #262697;
    color: white;
}

h2{
    color: #262697;
}
