<h1>{{username}}</h1>
<hr>
<div class="details">
    <mat-card>
        <h2>Registered Email</h2>
        <span>{{email}}</span>
        <br>
        <br>
        <button mat-button [routerLink] = "['/mailChange']">Update Email</button>
    </mat-card>
    <mat-card>
        <h2>Security</h2>
        <br>
        <br>
        <button mat-button [routerLink] = "['/passChange']">Change Password</button>
    </mat-card>
    <app-ship-addr-update [fName] = "fName" [lName] = "lName" [shipAddr] = "shipAddr"></app-ship-addr-update>
    <mat-card>
        <h2>Phone Number</h2>
        <span>{{phNum}}</span>
        <br>
        <br>
        <br>
        <button mat-button [routerLink] = "['/phoneChange']">Update Phone Number</button>
    </mat-card>
</div>